@charset "utf-8";

.sidebar {
    width: 100%;
    height: 100%;
    background: #ffffff08;
    border: 1px solid #ffffff46;
    border-radius: 15px;
    backdrop-filter: blur(50px) saturate(120%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.sidebar input {
    width: 100%;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    padding: 0.75rem 1.5rem;
    outline: none;
    border-radius: 100px;
    background: #ffffff08;
    border: 1px solid #ffffff46;
    backdrop-filter: blur(50px) saturate(120%);
}

.sidebar .sidebar-body {
    width: 85%;
    overflow: visible;
}

.sidebar .sidebar-section {
    margin-bottom: 1rem;
    padding: 1.5rem;
    background: #ffffff08;
    border-radius: 25px;
    backdrop-filter: blur(50px) saturate(120%);
    transition: transform 0.3s ease;
}

.sidebar .sidebar-section h2 {
    margin-bottom: 0.75rem;
}

.sidebar .sidebar-section:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.chart {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff46;
    background: #ffffff08;
    backdrop-filter: blur(50px) saturate(120%);
}