.fill-button {
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    background: #ffffff08;
    border: 1px solid #ffffff46;
    padding: 0.5rem 2.5rem;
    font-size: 1.75rem;
    font-family: "Roboto", sans-serif;
    transition: color 0.4s ease;
}

.fill-back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.35rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-button::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    background: linear-gradient(135deg, #113fe5, #9d3afb);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    transition: width 0.6s ease, height 0.6s ease, top 0.2s, left 0.2s;
    z-index: 0;
}

.fill-back::before {
    background: linear-gradient(135deg, #fc5353, #fb3a3a);
}

.fill-button:hover::before {
    width: 400%;
    height: 400%;
}

.fill-button > span {
    position: relative;
    z-index: 1;
}
