* {
    margin: 0;
    padding: 0;
    border: unset;
    box-sizing: border-box;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 35%;
    height: 7.5px;
}

::-webkit-scrollbar-thumb {
    background-color: #113fe5;
    border-radius: 100px;
}

::-webkit-scrollbar-button:start:increment {
    width: 30%;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-button:end:increment {
    width: 30%;
    display: block;
    background: transparent;
}

body {
    background: radial-gradient(#002355, #121212 75%);
}

h1 {
    user-select: none;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    font-family: "Oswald", sans-serif;
}

h2 {
    user-select: none;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
}

button {
    user-select: none;
}

a {
    width: 100%;
    height: 100%;
    display: contents;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.topbar {
    width: 25%;
    top: -3rem;
    left: 0;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.topbar img {
    width: 100%;
}

.wrapper-body {
    width: 150vw;
    height: 100%;
    display: grid;
    gap: 1rem;
    padding: 3rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.section {
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: #1f1f1f26;
    border-radius: 15px;
    border: 1px solid #ffffff3c;
    transition: all 0.3s;
    backdrop-filter: blur(50px) saturate(150%);
}

.section:hover {
    border: unset;
    transition: all 0.3s;
}

.section h1 {
    color: #fff;
    line-height: 3.5rem;
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Oswald", sans-serif;
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
    transition: all 0.3s ease;
}

.section:hover h1 {
    transform: scale(1.05);
    transition: all 0.3s ease;
}