#sort .chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sort .chart-section {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

#sort .chart-top {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

#sort .chart-top .chart-original {
    height: 65%;
}

#sort .chart-top .chart-list {
    height: 35%;
    display: flex;
    gap: 2rem;
}

#sort .chart-top .chart-list > * {
    flex: 1;
}

#sort .chart-bottom {
    display: flex;
    flex-direction: column;
}

#sort .chart-bottom .chart-stats {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#sort .chart-bottom .chart-stats .stats-chart {
    width: 65%;
}

#sort .chart-bottom .chart-stats .stats-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#sort .chart-bottom .chart-stats .stats-text > * {
    color: #fff;
    width: 100%;
    padding: 1rem;
    background: #0000003f;
    border: 0.5px solid #ffffff4b;
    backdrop-filter: blur(35px) saturate(120%);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#sort .way-section {
    cursor: pointer;
    margin: 1rem 0rem;
    padding: 1rem;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    border: 0.5px solid #ffffff4b;
    background-color: #0000003f;
    backdrop-filter: blur(35px) saturate(120%);
    border-radius: 25px;
    transition: all 0.3s ease;
}

#sort .way-section.active {
    background-color: #095df7;
}